body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

p {
    color: gray;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 40px;

}

.orange-color {
    color: orange;
}

.top-bannar {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;


}

.flexible-container {
    display: flex;
    margin-bottom: 145px;
}

.half-width {
    width: 50%;
    padding: 4%;
}

.half-width img {
    width: 85%;
}

.half-width p {
    text-align: justify;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(to left, orange, rgb(203, 183, 65));
    background-color: orange;
    padding: 10px 30px;
    border-radius: 5px;
    color: white;

}

.dream-big {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right bottom;
}

.experience-area {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;

}

.experience-item {
    width: 45%;
    box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
    margin-bottom: 130px;
}

.margin-left {
    margin-left: 5%;
    margin-right: 2.5%;
    border-left: 5px solid tomato;
    padding-left: 3%;
    padding-bottom: 5%;
    padding-right: 3%;

}

.margin-right {
    margin-left: 2.5%;
    margin-right: 5%;
    border-left: 5px solid blue;
    padding-left: 3%;
    padding-bottom: 5%;
    padding-right: 3%;
}

footer p {
    text-align: center;
    margin-top: -120px;
    margin-bottom: 20px;
}